<div class="content" *ngIf="paitentProfile$|async as patient">
    <!-- <div class="content"> -->
    <div>
        <div class="userimage" *ngIf="userService$ | async as user">
            <div class="av_img" *ngIf="user.avatarUrl" style="background-image: url({{user.avatarUrl}});"></div>
            <div class="av_img" *ngIf="!user.avatarUrl" style="background-image: url('/assets/profile.png');"></div>
        </div>
        <h1 style="font-weight: 600">Previously visited hospitals, {{ patient.fName }}</h1>
        <p id="p" class="fontSize">
            This dashboard is wholeheartedly designed to manage almost everything about
            you health.
        </p>
        <!-- <h1 class="lessmargin" style="margin-bottom: 5rem">Hospitals you've previously visited...</h1> -->
    </div>

    <!-- <div id="map" #map style="position: relative"></div> -->


    <div class="container">
        <div class="hosInfo">
            <div class="imganddetail">
                <img src="/assets/bombay-hospital-indore.jpg" alt="" />
                <div class="hosDetail">
                    <h3>Bombay Hospital Indore</h3>
                    <!-- <br /> -->
                    <p>
                        Bombay Hospital in Indore is premier healthcare institute that
                        exemplifies excellence, trustand compassion. The hospitaoffers
                        unparalleled healthcare servicewith top talents and cutting-edge
                        technology for the recovery of patients.
                    </p>
                    <p class="visited">
                        <span style="text-decoration: none">&#8226;</span> Visited in reference of
                        <span>diabetes</span> on <span>8 feb 2023</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="hosInfo">
            <div class="imganddetail">
                <img src="/assets/choithram-hospital-indore.jpg" alt="" />
                <div class="hosDetail">
                    <h3>Choithram Hospital Indore</h3>
                    <!-- <br /> -->
                    <p>
                        Choithram Hospital provides accessible, high-quality healthcare with a
                        team of skilled professionals delivering compassionate care and
                        effective services. It is a trusted institution and a center of
                        excellence in Indore.
                    </p>
                    <p class="visited">
                        <span style="text-decoration: none">&#8226;</span> Visited in reference of
                        <span>typhoid</span> on <span>15 dec 2022</span>
                    </p>
                </div>
            </div>
        </div>
        
    </div>


    <div class="showmore">
        <a onclick="myFunction()" class="showmore1" target="_blank" rel="noopener noreferrer">show more...</a>
    </div>



    <div class="clicked">
        <div class="container">
            <div class="hosInfo">
                <div class="imganddetail">
                    <img src="/assets/bombay-hospital-indore.jpg" alt="" />
                    <div class="hosDetail">
                        <h3>Bombay Hospital Indore</h3>
                        <!-- <br /> -->
                        <p>
                            Bombay Hospital in Indore is premier healthcare institute that
                            exemplifies excellence, trustand compassion. The hospitaoffers
                            unparalleled healthcare servicewith top talents and cutting-edge
                            technology for the recovery of patients.
                        </p>
                        <p class="visited">
                            <span style="text-decoration: none">&#8226;</span> Visited in reference of
                            <span>diabetes</span> on <span>8 feb 2023</span>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="hosInfo">
                <div class="imganddetail">
                    <img src="/assets/choithram-hospital-indore.jpg" alt="" />
                    <div class="hosDetail">
                        <h3>Choithram Hospital Indore</h3>
                        <!-- <br /> -->
                        <p>
                            Choithram Hospital provides accessible, high-quality healthcare with a
                            team of skilled professionals delivering compassionate care and
                            effective services. It is a trusted institution and a center of
                            excellence in Indore.
                        </p>
                        <p class="visited">
                            <span style="text-decoration: none">&#8226;</span> Visited in reference of
                            <span>typhoid</span> on <span>15 dec 2022</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>