.c-wk {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;

    .c-wk__content {
        width: 85vw;
        height: 80vh;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        color: black;
    }

    .c-wk__content__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .c-wk__content__text {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
}