fieldset {
  margin: 2rem 0;
}
.span0 {
  float: top !important;
  font-size: 0.9rem;
}
.span0 p {
  background-color: #ecf0f3;
  box-shadow: 0 -5px 1px #cbced2 inset;
  position: absolute;
  padding: 0 0.3rem;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  top: -1.6rem;
}
.span3 {
  margin-left: 3rem;
}
