<div class="content" *ngIf="paitentProfile$|async as patient">
  <div>
    <div class="userimage">
      <img src="/assets/profile.png" alt="" />
    </div>


    <h1>Set Appointments, {{patient.fName}}</h1>
    <p id="p" class="fontSize">
      This dashboard is wholeheartedly designed to manage almost everything
      about you health.
    </p>
  </div>
  <div class="a-cont">
    <div class="searchCont">
      <input type="text" name="search" id="search" placeholder="Search..." />
      <button>Search <i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <h1 class="hd1">Nearby doctors</h1>

    <div class="hosInfo">
      <img src="/assets/dr neelima deshmukh.jpg" alt="" />
      <div class="hosDetail">
        <h3>Dr. Neelima Deshmukh</h3>
        <div class="details">
          <h5>Specialist - Mental health</h5>
          <h5>Distance - 4 km</h5>
        </div>
        <div id="btn" class="addmore">
          <i class="fa-sharp fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div id="btn2">
      <button class="askApp" type="submit">Ask for Appointment</button>
    </div>

    <div class="hosInfo">
      <img src="/assets/dr kushagra jain.jpg" alt="" />
      <div class="hosDetail">
        <h3>Dr. Kushagra Jain</h3>
        <div class="details">
          <h5>Specialist - Eye surgeon</h5>
          <h5>Distance - 7 km</h5>
        </div>
        <div id="btn" class="addmore">
          <i class="fa-sharp fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div id="btn2">
      <button class="askApp" type="submit">Ask for Appointment</button>
    </div>

    <h1 class="topmargin">Doctors you've previously visited...</h1>

    <div class="hosInfo">
      <img src="/assets/dr ashutosh singh.jpg" alt="" />
      <div class="hosDetail">
        <h3>Dr. Ashok Bhajpai</h3>
        <div class="details">
          <h5>Visited in reference for diabetes</h5>
          <h5>Dated - 8 feb 2023</h5>
        </div>
        <div id="btn" class="addmore">
          <i class="fa-sharp fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div id="btn2">
      <button class="askApp" type="submit">Ask for Appointment</button>
    </div>

    <div class="hosInfo">
      <img src="/assets/dr ashutosh singh.jpg" alt="" />
      <div class="hosDetail">
        <h3>Dr. Ashutosh Singh</h3>
        <div class="details">
          <h5>Visited in reference for Typhoid</h5>
          <h5>Dated - 16 dec 2022</h5>
        </div>
        <div id="btn" class="addmore">
          <i class="fa-sharp fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
    <div id="btn2">
      <button class="askApp" type="submit">Ask for Appointment</button>
    </div>
  </div>
</div>

<uni-loading *ngIf="(paitentProfile$|async) === null"></uni-loading>