@media screen and (width < 750px) {
    .content {
      & > div:nth-child(2) {
        gap: 0px;
        margin-top: 2rem;
        width: 100%;
        grid-template-columns: 1fr;
      }
    }

    .hosInfo{
      border-radius: .75rem;
      img{
        width: 8rem;
        height: 8rem;
      }
      h3{
        font-size: 1.25rem;
      }
    }
    .addmore{
      scale: .75;
      transform: translate(45%, 45%);    
    }


  }
  @media screen and (width < 535px) {
  
    .content {
      width: 100%;
      
      &>div:nth-child(2) {
        margin-top:0;
        grid-auto-rows: auto;
      }
    }
    h1 {
      font-size: 1.3rem;
      font-weight:600;
    }
    .a-cont{
      h1.hd1{
        font-size: 1rem;
      }
    }
    .searchCont{
      width:85vw;
      height: 2rem;
      border: 2px solid #045256;
  
      button{
        font-size: 0.75rem;
      }
    }
    .hosInfo{
      
      width:80vw;
      margin: 0;

      img{
        width: 25vw;
        height:25vw;
        border-radius: .75rem;
      }h2{
        font-size: medium;
      }h3{
        font-size: 1rem;
        margin: 0.3rem 0;
      }
    }
    .details{
      font-size: .8rem;
    }
    .addmore{
      scale: 0.6;
    }
    br{
      display:block;
    }
    #btn2{
      margin-bottom: 1.2rem;
    }
    .askApp{
      display: block;
      width: 75vw;
      background-color: #285b54f3;
      font-size: .8rem;
      color: #f2f2f2;
      outline: 1px solid #3b887e;
      padding: .5rem;
      border-radius: 2.5rem;
      box-shadow: 0px 0px 10px #3b887e;
      transition: 250ms;
      cursor: pointer;
    }
    .askApp:hover{
      background-color: #2f776d;
      // box-shadow: 0px 0px 25px #00000093;
      // box-shadow: 0px 0px 25px #f2f2f285;
      transition: 250ms;
      outline: 0;
    }
  }