.a-cont {
  width: 100%;
  padding: 1rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1.hd1 {
    margin: 2rem 0;
  } 
}
.searchCont {
  background-color: rgb(255, 255, 255);
  width: clamp(400px, 70%, 800px);
  height: 3rem;
  border-radius: 2rem;
  display: flex;
  border: 3px solid #045256; 
  position: relative;

  input {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    padding-left: 24px;
    border: none;
  }

  button {
    position: absolute;
    right: -3px;
    top: -3px;
    height: calc(100% + 6px);
    width: 140px;
    border: 2px solid var(--border-color);
    box-shadow: 0 0 15px 2px var(--box-shadow-color);
    border-radius: inherit;
    background: var(--third-color);
    color: blue;
    font-size: 1rem;
    transition: 0.2s;
    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.7;
      transform: translate(0.8);
    }
  }
}

.hosInfo {
  width: 65vw;
  margin: 1.5rem 0;
  display: flex;
  border-radius: 1.5rem;
  position: relative;
  outline: 1px solid #ccc;
}
.hosInfo img {
  height: 12rem;
  width: 12rem;
  border-radius: 1.5rem;
}
.hosInfo h3 {
  font-size: 2.2rem;
  text-align: left;
  padding: 0;
}
.hosInfo h3 {
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
}
.hosDetail {
  margin-left: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.hosDetail span {
  text-decoration: underline;
}

.addmore {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #285b54f3;
  font-size: 1rem;
  color: #f2f2f2;
  outline: 3px solid #3b887e;
  padding: 1rem 1.3rem;
  border-radius: 3.5rem;
  box-shadow: 0px 0px 25px #3b887e;
  transition: 250ms;
  cursor: pointer;
}
.addmore:hover {
  background-color: #2f776d;
  box-shadow: 0px 0px 25px #00000093;
  box-shadow: 0px 0px 25px #f2f2f285;
  transition: 250ms;
  outline: 0;
}
.popup {
  display: none;
  position: fixed;
  background-color: rgba(51, 51, 51, 0.6);
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.65);
}
.marginleft {
  margin-left: 2rem;
}

/* testing checkbox code */
input[type="checkbox"] {
  appearance: none;
  width: 40px;
  height: 20px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  outline: 2px solid #f2f2f2;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #3b887e;
  border-radius: 50%;
  transition: all 0.3s;
}

input[type="checkbox"]:checked:before {
  transform: translateX(20px);
}

.popupcont h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.popupcont {
  background: linear-gradient(
    45deg,
    #c4ebc2 0%,
    #aecfa4 15%,
    #6bbd99 40%,
    #3b887e 90%
  );
  padding: 15px;
  margin: 7% auto;
  width: 60vw;
  border-radius: 1rem;
  box-shadow: 10px 10px 15px #093637a3, -10px -10px 15px #093637a3;
  position: relative;
  text-align: left;
}
#pophead {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 800;
  color: white;
  text-shadow: 2px 0 10px black;
  text-decoration: underline;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  transition: 250ms;
  margin-top: 0.5rem;
  margin-left: 0.7rem;
}
.close {
  float: right;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  background-color: #285b54f3;
  outline: 2px solid #3b887e;
  box-shadow: 0px 0px 25px #3b887e;
  color: #f2f2f2;
  padding: 0.2rem 0.8rem;
  border-radius: 0.8rem;
  transition: 250ms;
  cursor: pointer;
}
.close:hover {
  background-color: #2f776d;
  box-shadow: 0px 0px 25px #00000093;
  transition: 250ms;
  outline: 0;
}
label {
  font-size: 1.5rem;
  margin-left: 0.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.7);
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  transition: 250ms;
  margin-top: 0.5rem;
}
form h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 10px rgba(0, 0, 0, 0.7);
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  transition: 250ms;
  margin-top: 0.5rem;
  margin-left: 0.7rem !important;
  margin: 0;
}
